{% extends "horizontal-base.html" %}
{% block page-content %}
<!-- Start content -->
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-6">
                    <div class="card m-b-30">
                        <div class="card-body">

                            <h4 class="mt-0 header-title">系统介绍</h4>
                            <p class="sub-title">本项目为基于深度强化学习训练模型开发的投资组合管理系统</p>

                            <div class="row">
                                <div class="col-md-6">
                                    <h6 class="mt-0 m-b-15 text-muted">机器学习算法</h6>
                                    <a class="image-popup-vertical-fit" href="../static/assets/images/small/image1.png" title="AI.">
                                        <img class="img-fluid d-block mo-mb-2" src="../static/assets/images/small/image1.png" alt=""  width="145" >
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <h6 class="mt-0 mo-mt-2 m-b-15 text-muted">智能权重配置</h6>
                                    <a class="image-popup-no-margins" href="../static/assets/images/small/image2.jpg" title="智能权重配置">
                                        <img class="img-fluid d-block" src="../static/assets/images/small/image2.jpg" alt="" width="75">
                                    </a>
                                    <p class="mt-2 mb-0 text-muted">投资组合智能化自动化管理</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="card m-b-30">
                        <div class="card-body">

                            <h4 class="mt-0 header-title">网站功能</h4>
                            <p class="sub-title">本系统提供基于深度强化学习模型训练得出的资产组合配置权重建议，权重会跟随每天市场行情变化进行调整。
                            <br/>
                                私人定制资产组合功能，根据用户的风险偏好，资产状况，投资目的等画像数据推荐资产组合。
                            <br/>
                                智能配置资产权重功能，根据用户已选定的资产组合，提供资产组合中资产的配置权重。
                            </p>

                            <div class="popup-gallery">
                                <a class="float-left" href="../static/assets/images/small/image4.jpg" title="Project 1">
                                    <div class="img-fluid d-block mx-auto">
                                        <img src="../static/assets/images/small/image4.jpg" alt="" width="120">
                                    </div>
                                </a>
                                &emsp; &emsp; &emsp;
                                <a class="float-left" href="../static/assets/images/small/image5.jpg" title="Project 2">
                                    <div class="img-fluid d-block mx-auto">
                                        <img src="../static/assets/images/small/image5.jpg" alt="" width="120">
                                    </div>
                                </a>

                            </div>

                        </div>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row -->


            <div class="row">
                <div class="col-lg-6">
                    <div class="card m-b-30">
                        <div class="card-body">

                            <h4 class="mt-0 header-title">项目动机</h4>
                            <p class="sub-title">本项目团队成员以浓厚的科研兴趣和不懈的探索精神为此次创新训练的出发点，
                                力争为更高阶段的深造打下知识基础与实践基础。将人工智能深度强化学习应用于资产投资组合管理，
                                同时与投资组合管理经济学理论进行对比，实现多方面多角度学科交叉的深入理解。探索计算机超强
                                的计算能力应用于变化多端的资本市场产生的巨大作用，并由机器智能得出国民财富的管理建议。
                            </p>

                            <div class="zoom-gallery">
                                <a class="float-left" href="../static/assets/images/small/image6.jpg" title="Project 1"><img src="../static/assets/images/small/image6.jpg" alt="" width="275" class="img-fluid"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="card m-b-30">
                        <div class="card-body">

                            <h4 class="mt-0 header-title">用户服务</h4>
                            <p class="sub-title">选择注册、登录或快速体验 </p>

                            <div class="row">
                                <div class="col-12">
                                    <a class="popup-youtube mo-mb-2 btn btn-secondary" href="file:///F:/Django/Stexo/horizontal/pages-register.html">用户注册</a>
                                    <a class="popup-vimeo mo-mb-2 btn btn-secondary" href="file:///F:/Django/Stexo/horizontal/pages-login.html">用户登录</a>
                                    <a class="popup-gmaps mo-mb-2 btn btn-secondary" href="">快速体验</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row -->

        </div>
<!-- content -->
{% endblock %}