{% extends "vertical-base.html" %}

{% block page-content %}
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <!-- end page-title -->
            <div class="col-sm-6">
                <h4 class="page-title">静态展示</h4>
            </div>

            <div class="row">

                <div class="col-xl-12">

                    <div class="card m-b-30">

                        <div class="card-body">

                            <h4 class="mt-0 header-title"></h4>
                            <h4 class="mt-0 header-title">年化收益率对比</h4>
                            <p class="sub-title d-inline-block text-truncate w-100">显示机器学习算法策略与其他常规策略的比较</p>
                            <div id="strategy-stats" style="height: 320px" class="flot-chart"></div>


                        </div>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row -->
            <div class="row">
                 <div class="col-xl-6">
                    <div class="card m-b-30">
                        <div class="card-body">

                            <h4 class="mt-0 header-title">资产权重变化</h4>
                            <p class="sub-title d-inline-block text-truncate w-100">显示不同时点的权重配置</p>
                            <div id="combination-stats" style="height: 320px" class="flot-chart"></div>

                        </div>
                    </div>
                </div> <!-- end col -->
                <div class="col-xl-6">
                    <div class="card m-b-30">
                        <div class="card-body">

                            <h4 class="mt-0 header-title">组合现状</h4>
                            <p class="sub-title d-inline-block text-truncate w-100">显示资产的实时分配情况</p>

                                <div id="combination-now" class="flot-chart" style="height: 320px">
                                </div>

                        </div>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row -->


        </div>
        <!-- container-fluid -->

        <div class="button-items">
            <button type="button" class="position0 btn btn-info btn-lg waves-effect waves-light">动态展示</button>
        </div>

    </div>
    <!-- content -->
{% endblock %}
{% block cutsom_css %}
{% endblock %}
{% block cutsom_js %}
    <script src="/static/assets/vertical/pages/flot.init.js"></script>
    <script src="../static/plugins/flot-chart/jquery.flot.min.js"></script>
    <script src="../static/plugins/flot-chart/curvedLines.js"></script>
    <script src="../static/plugins/flot-chart/jquery.flot.time.js"></script>
    <script src="../static/plugins/flot-chart/jquery.flot.tooltip.min.js"></script>
    <script src="../static/plugins/flot-chart/jquery.flot.resize.js"></script>
    <script src="../static/plugins/flot-chart/jquery.flot.pie.js"></script>
    <script src="../static/plugins/flot-chart/jquery.flot.selection.js"></script>
    <script src="../static/plugins/flot-chart/jquery.flot.stack.js"></script>
    <script src="../static/plugins/flot-chart/curvedLines.js"></script>
    <script src="../static/plugins/flot-chart/jquery.flot.crosshair.js"></script>

{% endblock %}


{% block custom_operation %}
    <!--策略Pr-->
    <script>
        var input={{ pg_change|safe }};
        DataLabel = ["Follow_loser", "Follow_winner", "PG", "UCPR"];
        var Data = new Array();         //先声明一维
        for (var i = 0; i < DataLabel.length; i++) {
            Data[i] = new Array(i);
        }
        var tmp,cnt=0;
        tmp ={{ follow_loser |safe }};
        $.each(tmp, function (index, item) {
            Data[cnt].push([index, item["Pr"]]);
        });
        cnt++;

        tmp ={{ follow_winner |safe }};
        $.each(tmp, function (index, item) {
            Data[cnt].push([index, item["Pr"]]);
        });
        cnt++;

        tmp ={{ pg |safe }};
        $.each(tmp, function (index, item) {
            Data[cnt].push([index, item["Pr"]]);
        });
        cnt++;

        tmp ={{ ucpr |safe }};
        $.each(tmp, function (index, item) {
            Data[cnt].push([index, item["Pr"]]);
        });
        cnt++;
        {#console.log(Data[0],Data[1]);#}
        $.plot("#strategy-stats", [
            {label: DataLabel[0], data: Data[0], lines: {show: true, fill: false}},
            {label: DataLabel[1], data: Data[1], lines: {show: true, fill: false}},
            {label: DataLabel[2], data: Data[2], lines: {show: true, fill: false}},
            {label: DataLabel[3], data: Data[3], lines: {show: true, fill: false}},
        ]);
    </script>
    <!--实时权重-->
    <script>
        var input={{ pg_change|safe }};
        var DataLabel=["000001_Prop","600036_Prop","600519_Prop","600837_Prop","600309_Prop"];
        var Data = new Array();         //先声明一维
        $.each(input, function(index, item){
            for(var idx=0;idx<DataLabel.length;idx++){
                Data[idx]=(item[DataLabel[idx]]);
            }
         });
        var data = [
                { label: DataLabel[0],  data: Data[0]},
                { label: DataLabel[1],  data: Data[1]},
                { label: DataLabel[2],  data: Data[2]},
                { label: DataLabel[3],  data: Data[3]},
                { label: DataLabel[4],  data: Data[4]},
            ];
        $.plot($("#combination-now"), data, {
            series: {
                pie: {
                    show: true //显示饼图
                }
            },
            legend: {
                show: false //不显示图例
            },
        });
    </script>
    <!--权重变化-->
    <script>
        var input={{ pg_change|safe }};

        var DataLabel=["000001_Prop","600036_Prop","600519_Prop","600837_Prop","600309_Prop"];
        var Data = new Array();         //先声明一维
        for (var i = 0; i < DataLabel.length; i++) {
            Data[i] = new Array(i);
        }
        $.each(input, function(index, item){
            for(var idx=0;idx<DataLabel.length;idx++){
                Data[idx].push([index,item[DataLabel[idx]]]);
            }
        });
        $.plot("#combination-stats", [
            {label: DataLabel[0], data: Data[0],lines: {show: true, fill: false}},
            {label: DataLabel[1], data: Data[1],lines: {show: true, fill: false}},
            {label: DataLabel[2], data: Data[2],lines: {show: true, fill: false}},
            {label: DataLabel[3], data: Data[3],lines: {show: true, fill: false}},
            {label: DataLabel[4], data: Data[4],lines: {show: true, fill: false}},
        ]);
    </script>
{% endblock %}
