{% extends "vertical-base.html" %}
{% block page-content %}
<!-- Start content -->
<div class="content">
    <div class="container-fluid">

        <!-- end page-title -->

        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="text-center">
                    <h5>选择你的策略</h5>
                    <p class="text-muted">使用强化学习提供资产组合的优质策略</p>
                </div>
            </div>
        </div>

        <div class="row m-t-30">
            <div class="col-xl-3 col-md-6">
                <div class="card pricing-box mt-4">
                    <div class="pricing-icon">
                        <i class="ti-shield bg-success"></i>
                    </div>
                    <div class="pricing-content">
                        <div class="text-center">
                            <h5 class="text-uppercase mt-5">策略1：PG</h5>
                            <div class="pricing-plan mt-4 pt-2">
                                <h1><sup>$ </sup>19 <small class="font-16">/ month</small></h1>
                            </div>
                            <div class="pricing-border mt-5"></div>
                        </div>
                        <div class="pricing-features mt-4">
                                <p class="font-14 mb-2"><i class="ti-check-box text-success mr-3"></i> Free Setup </p>
                                <p class="font-14 mb-2"><i class="ti-check-box text-success mr-3"></i> GB Storage</p>
                                <p class="font-14 mb-2"><i class="ti-check-box text-success mr-3"></i> Unlmited Users </p>
                                <p class="font-14 mb-2"><i class="ti-check-box text-success mr-3"></i> SEO optimization</p>
                                <p class="font-14 mb-2"><i class="ti-check-box text-success mr-3"></i> Customer Support</p>
                        </div>
                        <div class="pricing-border mt-4"></div>
                        <div class="mt-4 pt-3 text-center">
                            <a href="combination?model=1" class="btn btn-success btn-lg w-100 btn-round">查看详情</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6">
                    <div class="card pricing-box mt-4">
                        <div class="pricing-icon">
                            <i class="ti-shield bg-primary"></i>
                        </div>
                        <div class="pricing-content">
                            <div class="text-center">
                                <h5 class="text-uppercase mt-5">Professional</h5>
                                <div class="pricing-plan mt-4 pt-2">
                                    <h1><sup>$ </sup>39 <small class="font-16">/ month</small></h1>
                                </div>
                                <div class="pricing-border mt-5"></div>
                            </div>
                            <div class="pricing-features mt-4">
                                    <p class="font-14 mb-2"><i class="ti-check-box text-primary mr-3"></i> Free Setup </p>
                                    <p class="font-14 mb-2"><i class="ti-check-box text-primary mr-3"></i> GB Storage</p>
                                    <p class="font-14 mb-2"><i class="ti-check-box text-primary mr-3"></i> Unlmited Users </p>
                                    <p class="font-14 mb-2"><i class="ti-check-box text-primary mr-3"></i> SEO optimization</p>
                                    <p class="font-14 mb-2"><i class="ti-check-box text-primary mr-3"></i> Customer Support</p>
                            </div>
                            <div class="pricing-border mt-4"></div>
                            <div class="mt-4 pt-3 text-center">
                                <a href="" class="btn btn-primary btn-lg w-100 btn-round">Join Now</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6">
                        <div class="card pricing-box mt-4">
                            <div class="pricing-icon">
                                <i class="ti-shield bg-warning"></i>
                            </div>
                            <div class="pricing-content">
                                <div class="text-center">
                                    <h5 class="text-uppercase mt-5">Enterprise</h5>
                                    <div class="pricing-plan mt-4 pt-2">
                                        <h1><sup>$ </sup>79 <small class="font-16">/ month</small></h1>
                                    </div>
                                    <div class="pricing-border mt-5"></div>
                                </div>
                                <div class="pricing-features mt-4">
                                        <p class="font-14 mb-2"><i class="ti-check-box text-warning mr-3"></i> Free Setup </p>
                                        <p class="font-14 mb-2"><i class="ti-check-box text-warning mr-3"></i> GB Storage</p>
                                        <p class="font-14 mb-2"><i class="ti-check-box text-warning mr-3"></i> Unlmited Users </p>
                                        <p class="font-14 mb-2"><i class="ti-check-box text-warning mr-3"></i> SEO optimization</p>
                                        <p class="font-14 mb-2"><i class="ti-check-box text-warning mr-3"></i> Customer Support</p>
                                </div>
                                <div class="pricing-border mt-4"></div>
                                <div class="mt-4 pt-3 text-center">
                                    <a href="" class="btn btn-warning btn-lg w-100 btn-round">Join Now</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6">
                            <div class="card pricing-box mt-4">
                                <div class="pricing-icon">
                                    <i class="ti-shield bg-info"></i>
                                </div>
                                <div class="pricing-content">
                                    <div class="text-center">
                                        <h5 class="text-uppercase mt-5">Unlimited</h5>
                                        <div class="pricing-plan mt-4 pt-2">
                                            <h1><sup>$ </sup>99 <small class="font-16">/ month</small></h1>
                                        </div>
                                        <div class="pricing-border mt-5"></div>
                                    </div>
                                    <div class="pricing-features mt-4">
                                            <p class="font-14 mb-2"><i class="ti-check-box text-info mr-3"></i> Free Setup </p>
                                            <p class="font-14 mb-2"><i class="ti-check-box text-info mr-3"></i> GB Storage</p>
                                            <p class="font-14 mb-2"><i class="ti-check-box text-info mr-3"></i> Unlmited Users </p>
                                            <p class="font-14 mb-2"><i class="ti-check-box text-info mr-3"></i> SEO optimization</p>
                                            <p class="font-14 mb-2"><i class="ti-check-box text-info mr-3"></i> Customer Support</p>
                                    </div>
                                    <div class="pricing-border mt-4"></div>
                                    <div class="mt-4 pt-3 text-center">
                                        <a href="" class="btn btn-info btn-lg w-100 btn-round">Join Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>

        </div>

    </div>
    <!-- container-fluid -->

</div>
<!-- content -->
{% endblock %}