{% load static %}
<script src="../static/assets/js/jquery.min.js"></script>
<script src="http://cdn.bootstrapmb.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="../static/assets/js/metismenu.min.js"></script>
<script src="../static/assets/js/jquery.slimscroll.js"></script>
<script src="../static/assets/js/waves.min.js"></script>

<!--Morris Chart-->
<script src="../static/plugins/morris/morris.min.js"></script>
<script src="../static/plugins/raphael/raphael.min.js"></script>

<script src="../static/assets/pages/dashboard.init.js"></script>

<!-- App js -->
<script src="../static/assets/js/app.js"></script>